$font-stack:    Helvetica, sans-serif;
$primary-color: #0266C8;
$primary-text-color: #FFFFFF;
$big-text-size: 24px;
$primary-text-size: 12px;

* {
	margin: 0px auto;
	padding: 0px auto;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

app-menu {
	background-color: $primary-color;
	color: $primary-text-color;
	display: block;
	height: 40px;
	width: 100%;

	> .left_menu {
		display: inline-block;
		height: 100%;
		width: 40%;
		font-weight: bolder;
		font-size: $big-text-size;
	}

	> .right_menu {
		display: inline-block;
		height: 100%;
		width: 58%;
		font-weight: bolder;
		input {
			margin-left: 10px;
		}
	}

	.btn {
	  -webkit-border-radius: 23;
	  -moz-border-radius: 23;
	  border-radius: 23px;
	  font-family: Arial;
	  font-weight: bolder;
	  color: #ffffff;
	  font-size: $primary-text-size;
	  background: #8c9da8;
	  padding: 5x 10px 5px 10px;
	  text-decoration: none;
	}

	.btn:hover {
	  background: #292229;
	  text-decoration: none;
	}
}

app-home {
	#image_container {
		width: 100%;
		height: 500px;
		margin: 0 auto;
		background-image: url('../img/home_background.png');
		background-size: 100% 500px;
		.btn {
		  -webkit-border-radius: 23;
		  -moz-border-radius: 23;
		  border-radius: 23px;
		  position: absolute;
		  top: 40%;
		  left: 35%;
		  font-family: Arial;
		  color: #ffffff;
		  font-size: 50px;
		  background: #fc0000;
		  padding: 10px 20px 10px 20px;
		  text-decoration: none;

		}

		.btn:hover {
		  background: #c20000;
		  text-decoration: none;
		}
	}
}