$font-stack:    Helvetica, sans-serif;
$primary-color: #0266C8;
$primary-text-color: #FFFFFF;
$big-text-size: 24px;
$primary-text-size: 12px;

* {
	margin: 0px auto;
	padding: 0px auto;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

app-menu {
	background-color: $primary-color;
	display: block;
}