$font-stack:    Helvetica, sans-serif;
$primary-color: #0266C8;
$primary-text-color: #FFFFFF;
$secondary-text-color: $primary-color;
$big-text-size: 24px;
$primary-text-size: 12px;
$button-color: #fc0000;
$button-hover-color: #c20000;

* {
	margin: 0px auto;
	padding: 0px auto;
}

a:link{
	color: inherit;
	text-decoration: none;
}
a:active{
	color: inherit;
	text-decoration: none;
}
a:visited{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: inherit;
	text-decoration: none;
}
a{
	color: inherit;
	text-decoration:none
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#menu {
	background-color: $primary-color;
	color: $primary-text-color;
	display: block;
	height: 40px;
	width: 100%;

	> .left_menu {
		display: inline-block;
		height: 100%;
		width: 40%;
		font-weight: bolder;
		font-size: $big-text-size;
	}

	> .right_menu {
		display: inline-block;
		height: 100%;
		width: 58%;
		font-weight: bolder;
		input {
			margin-left: 10px;
		}
	}

	.btn {
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 28px;
	  font-family: Arial;
	  color: #ffffff;
	  border: solid $button-color 2px;
	  font-size: $primary-text-size;
	  font-weight: bolder;
	  background: $button-color;
	  padding: 7px 11px 7px 11px;
	  text-decoration: none;
	}


	.btn:hover {
	  background: $button-hover-color;
	  text-decoration: none;
	  border: solid $button-hover-color 2px;
	}
}

profile {
	color: $secondary-text-color;
}

register {
	color: $secondary-text-color;
}

app-home {
	#image_container {
		width: 100%;
		height: 500px;
		margin: 0 auto;
		background-image: url('../img/home_background.png');
		background-size: 100% 500px;
		.btn {
		  -webkit-border-radius: 23;
		  -moz-border-radius: 23;
		  border-radius: 23px;
		  position: absolute;
		  border: solid $button-color 2px;
		  top: 40%;
		  left: 35%;
		  font-family: Arial;
		  color: #ffffff;
		  font-size: 50px;
		  background: $button-color;
		  padding: 10px 20px 10px 20px;
		  text-decoration: none;

		}

		.btn:hover {
		  background: $button-hover-color;
		  text-decoration: none;
		  border: solid $button-hover-color 2px;
		}
	}
}